<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="uShop1.Properties.Settings.Nintendo_eShopConnectionString"
            connectionString="Data Source=LUNA-00\SQLEXPRESS;Initial Catalog=Nintendo_eShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>